---
import "../styles/global.css";
import "@fontsource-variable/dm-sans";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:site_name" content="Resolve | Keep your resolutions" />
    <meta
      property="og:description"
      content="An iOS app that helps you stick to your resolutions."
    />
    <meta property="og:url" content="https://resolveapp.net" />
    <meta property="og:title" content="Resolve | Keep your resolutions" />
    <meta property="og:image" content="/og-image.png" />
    <meta
      property="description"
      content="An iOS app that helps you stick to your resolutions."
    />
    <meta property="twitter:title" content="Resolve | Keep your resolutions" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="/og-image.png" />
    <meta
      property="twitter:description"
      content="An iOS app that helps you stick to your resolutions."
    />
    <title>Resolve | Keep your resolutions</title>
    <script
      src="https://kit.fontawesome.com/597740db7b.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
